<div id="container" class="container-fluid vh-100" *ngIf="!isSearching">
  <div id="spacer" class="row">
    <div class="col"></div>
    <div class="col-8"><h1>¡HAZ TU RESERVA RÁPIDAMENTE EN TU CIUDAD!</h1></div>
    <div class="col"></div>
  </div>
  <div class="row pt-5">
    <div class="col"></div>
    <div class="col-7">
      <div class="input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">¿Adónde te gustaría ir?</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg"
          placeholder="ejemplo: Miami Beach, Ciudad del Cabo, Río de Janeiro" [(ngModel)]="poblacion"/>
      </div>
    </div>
    <div class="col-1"><a type="button" class="btn btn-danger btn-lg" (click)="buscar()">SEARCH</a></div>
    <div class="col"></div>
  </div>
<!-- container -->

  <div id="tilt" class="text-info">

    <div class="row">
      <div class="col"></div>
      <div class="form-check col-4">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          ESTRELLAS *
        </label>
      </div>
      <div class="form-check col-4">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Hasta 199€
        </label>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="form-check col-4">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          ESTRELLAS **
        </label>
      </div>
      <div class="form-check col-4">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2">
          Entre 200€ y 299€
        </label>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="form-check col-4">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
        <label class="form-check-label" for="defaultCheck3">
          ESTRELLAS ***
        </label>
      </div>
      <div class="form-check col-4">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
        <label class="form-check-label" for="flexRadioDefault3">
          Entre 300€ y 399€
        </label>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="form-check col-4">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" checked>
        <label class="form-check-label" for="flexCheckChecked4">
          ESTRELLAS ****
        </label>
      </div>
      <div class="form-check col-4">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
        <label class="form-check-label" for="flexRadioDefault4">
          Entre 400€ y 599€
        </label>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="form-check col-4">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
        <label class="form-check-label" for="defaultCheck5">
          ESTRELLAS *****
        </label>
      </div>
      <div class="form-check col-4">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
        <label class="form-check-label" for="flexRadioDefault5">
          A partir de 600€
        </label>
      </div>
      <div class="col"></div>
    </div>

    <br>

  </div>
</div>
<div *ngIf="isSearching && isLoggedIn">
  <app-buscador-mapa [poblacion]="poblacion"></app-buscador-mapa>
</div>
