<div>
  <div class="row">
    <div class="col-6 input-group date" data-provide="datepickker">
      <label for="startDate">Fecha de entrada: </label>
      <input id="startDate" class="form-control" type="date" />
      <span id="startDateSelected"></span>
    </div>
    <div class="col-6 input-group date" data-provide="datepickker">
      <label for="endDate">Fecha de salida: </label>
      <input id="endDate" class="form-control" type="date" />
      <span id="endDateSelected"></span>
    </div>
  </div>
</div>
