#container {
  padding-top: 25px;
  padding-bottom: 40px;
}

#tilt {
  padding-right: 45px;
}

#chart {
  padding-left: 80px;
}

#spacer {
  padding-top: 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
}

/* image background*/
body {
  background: url("../../../sources/Searchs_132.png");
}

#div1,
#div2 {
  border: 1px solid white;
  border-bottom: 2px;
  border-right: 2px;

}

#div4 {
  border: 1px solid white;

}

#div8 {
  border: 1px solid white;
  border-bottom: 2px;

}

#div9,
#div10 {
  border: 1px solid white;
  border-right: 2px;

}

#comic {
  font-family: 'Comic Sans MS';
}

.overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, .6);
  cursor: default;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}