<div class="container">
  <br>
  <div class="row">
      <h1 class="text-danger">Listado de Reservas</h1>
  </div>

  <div class="row">
      <div class="d-flex justify-content-between">
          <div>
              Mostrar
              <select name="registros" id="registers">
                  <option value="volvo">10</option>
                  <option value="saab">8</option>
                  <option value="opel">5</option>
                  <option value="audi">3</option>
              </select>
              registros
          </div>
          <div>
              Buscar:
              <input type="text">
          </div>
      </div>
  </div>
  <br>
  <div class="row">
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th scope="col">
                      <div class="d-flex justify-content-between">
                          <div>ID</div>
                          <div >
                              <i class="bi bi-arrow-up-short"></i>
                              <i class="bi bi-arrow-down-short text-secondary"></i>
                          </div>
                      </div>
                      <span class="float-right"></span></th>
                  <th scope="col">
                      <div class="d-flex justify-content-between">
                          <div>Nombre usuario</div>
                          <div class="text-secondary">
                              <i class="bi bi-arrow-up-short"></i>
                              <i class="bi bi-arrow-down-short"></i>
                          </div>
                      </div>
                  </th>
                  <th scope="col">
                      <div class="d-flex justify-content-between">
                          <div>Hotel</div>
                          <div class="text-secondary">
                              <i class="bi bi-arrow-up-short"></i>
                              <i class="bi bi-arrow-down-short"></i>
                          </div>
                      </div>
                  </th>
                  <th scope="col">
                      <div class="d-flex justify-content-between">
                          <div>Acción</div>
                          <div class="text-secondary">
                              <i class="bi bi-arrow-up-short"></i>
                              <i class="bi bi-arrow-down-short"></i>
                          </div>
                      </div>
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr class="table-secondary" *ngFor="let reserva of reservas">
                  <th scope="row">{{reserva.id}}</th>
                  <td>{{reserva.usuario.nombreUsuario}}</td>
                  <td>{{reserva.habitacion.hotel.nombre}}</td>
                  <td>
                      <button type="button" class="btn btn-primary" [routerLink]="[reserva.id]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                          <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                        </svg>
                      </button>
                      <button type="button" class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                      </button>
                      <button type="button" class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                      </button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

  <div class="row">

      <div class="d-flex justify-content-between">
          <p>
              Mostrando del 1 al 5 de un total de 5 registros
          </p>
          <ul class="pagination">
              <li class="page-item text-secondary">
                  <a class="page-link text-secondary">Anterior</a>
              </li>
              <li class="page-item">
                  <a class="page-link active" href="#">1</a>
              </li>
              <li class="page-item ">
                  <a class="page-link text-secondary" href="#">Siguiente</a>
              </li>
          </ul>
      </div>

  </div>


</div>
