  <div class="row mt-2" *ngIf="rol =='ADMIN'">
      <div id="navbar" class="col-2 vh-100 bg-danger">
          <nav class="navbar navbar-expand-lg">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <ul class="flex-column navbar-nav">
                  <li class="nav-item mb-2">
                      <a class="nav-link fs-4" routerLink="/admin">Dashboard</a>
                  </li>
                  <li class="nav-item mb-2">
                      <a class="nav-link fs-4" routerLink="reservas">Reservas</a>
                  </li>
                  <li class="nav-item mb-2">
                      <a class="nav-link fs-4" routerLink="usuarios">Usuarios</a>
                  </li>
                  <li class="nav-item mb-2 dropend">
                      <a class="nav-link dropdown-toggle fs-4" href="#" routerLink="hoteles" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hoteles</a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" routerLink="habitaciones">Habitaciones</a></li>
                      </ul>
                  </li>
                  <li class="nav-item mb-2">
                      <a class="nav-link fs-4" routerLink="poblaciones">Poblaciones</a>
                  </li>
              </ul>
          </nav>
      </div>
      <div class="col">
        <h1>DASHBOARD</h1>
          <div class="row">
            <div class="col-6 mb-1">
              <div class="card m-1" style="width: 18rem">
                  <div class="card-body">
                      <div class="row">
                          <div class="col">
                              <h5 class="card-title">Reservas</h5>
                          </div>
                          <div class="col text-end">
                            total
                              <h2>{{reservas.length}}</h2>
                          </div>
                      </div>

                    <button class="btn btn-danger" [routerLink]="['reservas']">See more</button>
                  </div>
              </div>
            </div>
            <div class="col-6 mb-1">
              <div class="card" style="width: 18rem">
                  <div class="card-body">
                      <div class="row">
                          <div class="col">
                              <h5 class="card-title">Usuarios</h5>
                          </div>
                          <div class="col text-end">
                            total
                              <h2>{{usuarios.length}}</h2>
                          </div>
                      </div>
                    <button class="btn btn-danger" [routerLink]="['usuarios']">See more</button>
                  </div>
              </div>
            </div>
            <div class="col-6 mb-1">
              <div class="card" style="width: 18rem">
                  <div class="card-body">
                      <div class="row">
                          <div class="col">
                              <h5 class="card-title">Hoteles</h5>
                          </div>
                          <div class="col text-end">
                            total
                              <h2>{{hoteles.length}}</h2>
                          </div>
                      </div>
                    <button class="btn btn-danger" [routerLink]="['hoteles']">See more</button>
                  </div>
              </div>
            </div>
            <div class="col-6 mb-1">
              <div class="card" style="width: 18rem">
                  <div class="card-body">
                      <div class="row">
                          <div class="col">
                              <h5 class="card-title">Poblaciones</h5>
                          </div>
                          <div class="col text-end">
                            total
                              <h2>{{poblaciones.length}}</h2>
                          </div>
                      </div>
                    <button class="btn btn-danger" routerLink="poblaciones">See more</button>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>

  <div *ngIf="rol != 'ADMIN'">
    No tienes permiso de administrador
  </div>
