<div class="col-6 mb-1">
  <div class="card m-1" style="width: 18rem">
      <div class="card-body">
          <div class="row">
              <div class="col">
                  <h5 class="card-title">Reservas</h5>
              </div>
              <div class="col text-end">
                  <h2>44</h2>
              </div>
          </div>

        <button class="btn btn-danger" [routerLink]="['reservas']">See more</button>
      </div>
  </div>
</div>
<div class="col-6 mb-1">
  <div class="card" style="width: 18rem">
      <div class="card-body">
          <div class="row">
              <div class="col">
                  <h5 class="card-title">Usuarios</h5>
              </div>
              <div class="col text-end">
                  <h2>44</h2>
              </div>
          </div>
        <button class="btn btn-danger" [routerLink]="['usuarios']">See more</button>
      </div>
  </div>
</div>
<div class="col-6 mb-1">
  <div class="card" style="width: 18rem">
      <div class="card-body">
          <div class="row">
              <div class="col">
                  <h5 class="card-title">Hoteles</h5>
              </div>
              <div class="col text-end">
                  <h2>44</h2>
              </div>
          </div>
        <button class="btn btn-danger" href="/admin/hoteles" routerLink="admin/hoteles">See more</button>
      </div>
  </div>
</div>
<div class="col-6 mb-1">
  <div class="card" style="width: 18rem">
      <div class="card-body">
          <div class="row">
              <div class="col">
                  <h5 class="card-title">Poblaciones</h5>
              </div>
              <div class="col text-end">
                  <h2>44</h2>
              </div>
          </div>
        <button class="btn btn-danger" [routerLink]="['poblaciones']">See more</button>
      </div>
  </div>
</div>
