<div>
  <div class="submit-form">
    <div *ngIf="!guardado">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" class="form-control" required [(ngModel)]="hotel.nombre">
      </div>
      <div class="form-group">
        <label for="categoria">Categoria</label>
        <input type="text" name="categoria" id="categoria" class="form-control" required [(ngModel)]="hotel.categoria">
      </div>
      <div class="form-group">
        <label for="poblacion">Poblacion</label>
        <select type="text" name="poblacion" id="poblacion" class="form-control" required [(ngModel)]="hotel.poblacion">
          <option *ngFor="let poblacion of poblaciones" [value]="poblacion.id">{{poblacion.nombre}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="latitud">Latitud</label>
        <input type="text" name="latitud" id="latitud" class="form-control" required [(ngModel)]="hotel.latitud">
      </div>
      <div class="form-group">
        <label for="longitud">Longitud</label>
        <input type="text" name="longitud" id="longitud" class="form-control" required [(ngModel)]="hotel.longitud">
      </div>
      <button  class="btn btn-success m-2">Submit</button>
    </div>

    <div *ngIf="guardado">
      <h4>Personaje guardado correctamente</h4>
      <button class="btn btn-success" >Añadir</button>
    </div>
  </div>
</div>
