<div>
  <!-- As a heading -->
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="home()"><span class="navbar-brand mb-0 h1">HO<span style="color: brown;">T</span>ELIO</span></a>
      <ul class="nav justify-content-center">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" href="" routerLink="login" routerLinkActive="router-link-active" >Iniciar Sesión/Regístrate</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isLoggedIn">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://rickandmortyapi.com/api/character/avatar/501.jpeg" alt="" width="40" height="40" class="rounded-circle">
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/profile">Perfil</a></li>
            <li><a class="dropdown-item" href="" *ngIf="role != 'ADMIN'">Reservas</a></li>
            <li><a class="dropdown-item" href="/admin" *ngIf="role == 'ADMIN'">Panel de Control</a></li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Cerrar sesion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>

