<div>
  <!-- As a heading -->
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <a href="" class="navbar-brand"><span class="navbar-brand mb-0 h1">HO<span style="color: brown;">T</span>ELIO</span></a>
      <ul class="nav justify-content-center">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" href="" routerLink="login" routerLinkActive="router-link-active" >Iniciar Sesión/Regístrate</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" href="" routerLinkActive="router-link-active" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>

